*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

#open{
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    outline: none;
}

p{
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    bottom: 50px;
    color: #fff;
    opacity: 0.5;
    mix-blend-mode: difference;
    font-size: 16px;
    font-family: Arial, sans-serif;
}