*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

p{
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    bottom: 50px;
    color: #fff;
    opacity: 0.5;
    mix-blend-mode: difference;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

#rarete{
    position: fixed;
    top: 15px;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    color: #fff;
    opacity: 1;
    /* mix-blend-mode: difference; */
    font-size: 32px;
    font-family: Arial, sans-serif;
}

